.project-box:hover{
    scale: 1.05;
    filter: drop-shadow(20px 10px 5px);

}

.project-box{
    transition: scale 0.2s;
    transition: filter 0.2s;
    filter: drop-shadow(10px 10px 5px);

}

.hover_scale:hover{
    scale: 1.05;
    filter: drop-shadow(20px 10px 5px);

}

.hover_scale{
    transition: scale 0.2s;
    transition: filter 0.2s;
    filter: drop-shadow(10px 10px 5px);

}

.company-logo{
    filter: drop-shadow(20px 10px 5px);
}
